<% include partials/header %>

    <div class="container-fluid">
        <h2 class="alert alert-danger">
            Page not found
            <br>
            Error 404
        </h2>
    </div>

<% include partials/footer %>