<% include partials/header %>

    <div class="container-fluid">
        <h2 class="alert alert-danger">
            Some things wrong in the server
            <br>
            Error 500
        </h2>
    </div>

<% include partials/footer %>