<% include partials/header %>

    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <img src="<%= picSrc %>" alt="img" class="img-thumbnail">
            <br>
            <p>
                <%= picSrc %>
            </p>
        </div>
    </div>

<% include partials/footer %>